{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "camelcase": "warn",
    "no-restricted-imports": "warn",
    "max-nested-callbacks": "warn",
    "space-before-function-paren": ["error", "never"],
    "no-undef": "warn",
    "no-unused-vars": ["error", { "vars": "local", "args": "after-used", "ignoreRestSiblings": false }],
    "no-duplicate-imports": "error",
    "id-match": ["warn", "^[a-zA-Z0-9_-]*$"],
    "no-console": "off",
    "compat/compat": "off",
    "no-plusplus": "off",
    "no-const-assign": "error",
    "prettier/prettier": "warn",
    "prefer-const": [
      1,
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": true
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  }
}
